.banner-cui-icon,
.image-11-icon {
  position: absolute;
  top: 2993px;
  left: 1px;
  width: 1437px;
  height: 533px;
  object-fit: cover;
}
.image-11-icon {
  top: 0;
  left: 83.05px;
  width: 337.59px;
  height: 389.41px;
}
.div,
.group-child {
  position: absolute;
  left: 0;
}
.div {
  top: 158.26px;
  font-size: var(--font-size-17xl);
  text-transform: capitalize;
  display: inline-block;
  width: 224.9px;
  height: 68.72px;
}
.group-child {
  top: 0;
  background-color: var(--color-lightblue);
  width: 195.74px;
  height: 78.09px;
}
.thm-vo-gi {
  position: absolute;
  top: 10.41px;
  left: 16.66px;
  text-transform: capitalize;
  display: inline-block;
  width: 155.14px;
  height: 77.05px;
}
.rectangle-parent,
.serum-hoa-qu {
  position: absolute;
  top: 119.74px;
  left: 237.39px;
  width: 195.74px;
  height: 87.46px;
}
.serum-hoa-qu {
  top: 0;
  left: 22.91px;
  text-transform: capitalize;
  display: inline-block;
  width: 432.09px;
  height: 64.55px;
}
.sn-phm-9,
.sn-phm-91 {
  position: absolute;
  top: 458.12px;
  left: 0;
  width: 455px;
  height: 226.98px;
}
.sn-phm-9 {
  top: 2294px;
  left: 983px;
  height: 685.1px;
  cursor: pointer;
}
.sn-phm-8-child {
  position: absolute;
  top: 498.22px;
  left: 107.17px;
  background-color: var(--color-white);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  width: 374.05px;
  height: 191.78px;
}
.sn-phm-8-item {
  position: absolute;
  top: 604.52px;
  left: 313.82px;
  background-color: var(--color-lightblue);
  width: 159.39px;
  height: 67.95px;
}
.thm-vo-gi1 {
  position: absolute;
  top: 609.62px;
  left: 314.21px;
  text-transform: capitalize;
  display: inline-block;
  width: 158.67px;
  height: 36.54px;
}
.image-12-icon {
  position: absolute;
  top: 0;
  left: -4px;
  width: 489.23px;
  height: 494.44px;
  object-fit: cover;
}
.div1 {
  position: absolute;
  top: 621.1px;
  left: 3.13px;
  font-size: var(--font-size-13xl);
  text-transform: capitalize;
  display: inline-block;
  width: 233.83px;
  height: 32.36px;
}
.sn-phm-81 {
  position: absolute;
  top: 0;
  left: 0;
  width: 481.23px;
  height: 690px;
  cursor: pointer;
}
.serum-dng-m {
  margin: 0;
}
.serum-dng-m-container {
  position: absolute;
  top: 506.28px;
  left: 37.58px;
  text-transform: capitalize;
  display: inline-block;
  width: 411.29px;
  height: 87.69px;
}
.sn-phm-7-child,
.sn-phm-8 {
  position: absolute;
  top: 2298px;
  left: 477px;
  width: 481.23px;
  height: 690px;
}
.sn-phm-7-child {
  top: 155px;
  left: 262.19px;
  background-color: var(--color-lightblue);
  width: 169.12px;
  height: 72px;
}
.thm-vo-gi2 {
  position: absolute;
  top: 163px;
  left: 270.19px;
  text-transform: capitalize;
  display: inline-block;
  width: 153.11px;
}
.sn-phm-7-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 431.31px;
  height: 119px;
}
.du-ty-trang {
  position: absolute;
  top: 32px;
  left: 44.03px;
  text-transform: capitalize;
  display: inline-block;
  width: 342.25px;
  height: 55px;
}
.div2,
.sn-phm-71 {
  position: absolute;
  top: 449px;
  left: 0;
  width: 431.31px;
  height: 227px;
}
.div2 {
  top: 626.58px;
  left: 25px;
  text-transform: capitalize;
  display: inline-block;
  width: 179px;
  height: 39.16px;
}
.sn-phm-7-inner,
.sn-phm-72 {
  position: absolute;
  top: 0;
  width: 457px;
}
.sn-phm-7-inner {
  left: 0;
  height: 423.32px;
  object-fit: cover;
}
.sn-phm-72 {
  left: 1px;
  height: 665.74px;
  cursor: pointer;
  font-size: var(--font-size-17xl);
}
.sn-phm-6-child,
.sn-phm-7 {
  position: absolute;
  top: 2294px;
  left: 10px;
  width: 458px;
  height: 676px;
}
.sn-phm-6-child {
  top: -1px;
  left: -1px;
  width: 472px;
  height: 477.4px;
  object-fit: cover;
}
.sn-phm-6-item {
  position: absolute;
  top: 463.34px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  width: 471.42px;
  height: 176.66px;
}
.kem-chng-nng-container {
  position: absolute;
  top: 487px;
  left: 34px;
  text-transform: capitalize;
  display: inline-block;
  width: 400px;
  height: 92px;
}
.sn-phm-6-inner {
  position: absolute;
  top: 561.26px;
  left: 260.44px;
  background-color: var(--color-lightblue);
  width: 200.88px;
  height: 62.59px;
}
.thm-vo-gi3 {
  top: 566.31px;
  left: 286.69px;
  text-transform: capitalize;
  display: inline-block;
  width: 148.39px;
  height: 33.31px;
}
.div3,
.sn-phm-6,
.thm-vo-gi3 {
  position: absolute;
}
.div3 {
  top: 576.4px;
  left: 24.23px;
  font-size: var(--font-size-13xl);
  text-transform: capitalize;
  display: inline-block;
  width: 139.31px;
  height: 30.28px;
}
.sn-phm-6 {
  top: 1628px;
  left: 969px;
  width: 471.42px;
  height: 640px;
  cursor: pointer;
}
.sn-phm-5-child {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 479.42px;
  height: 477.4px;
  object-fit: cover;
}
.tinh-cht-dng {
  position: absolute;
  top: 486.56px;
  left: 35.33px;
  text-transform: capitalize;
  display: inline-block;
  width: 399.75px;
  height: 62.59px;
}
.sn-phm-4-child,
.sn-phm-5 {
  position: absolute;
  top: 1628px;
  left: 487px;
  width: 471.42px;
  height: 640px;
}
.sn-phm-4-child {
  top: 465px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  width: 467px;
  height: 175px;
}
.sn-phm-4-item {
  position: absolute;
  top: 562px;
  left: 258px;
  background-color: var(--color-lightblue);
  width: 199px;
  height: 62px;
}
.sn-phm-4-inner {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 475px;
  height: 473px;
  object-fit: cover;
}
.thm-vo-gi5 {
  top: 567px;
  left: 284px;
  width: 147px;
  height: 33px;
}
.div5,
.thm-vo-gi5,
.tinh-cht-dng-container {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
}
.div5 {
  top: 577px;
  left: 24px;
  font-size: var(--font-size-13xl);
  width: 138px;
  height: 30px;
}
.tinh-cht-dng-container {
  top: 488px;
  left: 35px;
  width: 396px;
  height: 62px;
}
.sn-phm-4 {
  position: absolute;
  top: 1628px;
  left: 1px;
  width: 467px;
  height: 640px;
  cursor: pointer;
}
.sn-phm-3-child {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 468px;
  height: 473px;
  object-fit: cover;
}
.kem-dng-phc {
  position: absolute;
  top: 484px;
  left: 17px;
  text-transform: capitalize;
  display: inline-block;
  width: 414px;
  height: 64px;
}
.sn-phm-3 {
  position: absolute;
  top: 958px;
  left: 973px;
  width: 467px;
  height: 640px;
  cursor: pointer;
}
.sn-phm-2-child {
  position: absolute;
  top: 463.34px;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  width: 471.42px;
  height: 176.66px;
}
.sn-phm-2-item {
  position: absolute;
  top: -4px;
  left: -1px;
  width: 479.42px;
  height: 477.4px;
  object-fit: cover;
}
.sn-phm-2,
.sn-phm-21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 471.42px;
  height: 640px;
}
.sn-phm-2 {
  top: 958px;
  left: 487px;
  cursor: pointer;
}
.sn-phm-1-child {
  position: absolute;
  top: -1px;
  left: 0;
  width: 474px;
  height: 473px;
  object-fit: cover;
}
.sn-phm-1,
.sn-phm-1-item {
  position: absolute;
  left: 0;
  width: 467px;
}
.sn-phm-1-item {
  top: 465px;
  background-color: var(--color-white);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  height: 175px;
}
.sn-phm-1 {
  top: 958px;
  height: 640px;
  cursor: pointer;
}
.thanh-danh-sch-sn-phm-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-aliceblue);
  width: 1440px;
  height: 80px;
}
.danh-sch-sn {
  position: absolute;
  top: 21px;
  left: 429px;
  text-transform: capitalize;
  display: inline-block;
  width: 581px;
  height: 52px;
}
.thanh-danh-sch-sn-phm {
  position: absolute;
  top: 848px;
  left: 0;
  width: 1440px;
  height: 80px;
  font-size: var(--font-size-17xl);
}
.dear-klairs,
.klairs-l-thng {
  position: absolute;
  top: 51px;
  left: 0;
  display: inline-block;
  width: 1407px;
  height: 86px;
}
.dear-klairs {
  top: 0;
  left: 569px;
  font-size: var(--font-size-17xl);
  width: 285px;
  height: 42px;
}
.gii-thiu-brand {
  position: absolute;
  top: 688px;
  left: 16px;
  width: 1407px;
  height: 137px;
  font-size: var(--font-size-7xl);
}
.image-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 547.17px;
  object-fit: cover;
}
.image-1-wrapper,
.image-2-icon,
.property-1default {
  position: absolute;
  top: 20px;
  left: 0;
  width: 1440px;
  height: 547.17px;
}
.image-2-icon,
.property-1default {
  left: 20px;
}
.image-2-icon {
  top: -0.17px;
  left: 0;
  object-fit: cover;
}
.image-3-icon,
.property-1variant2 {
  position: absolute;
  top: 587.17px;
  left: 20px;
  width: 1440px;
  height: 547.17px;
}
.image-3-icon {
  top: -0.34px;
  left: -70px;
  width: 1541.61px;
  height: 571px;
  object-fit: cover;
}
.image-4-icon,
.property-1variant3 {
  position: absolute;
  top: 1154.34px;
  left: 20px;
  width: 1440px;
  height: 547.17px;
}
.image-4-icon {
  top: 0.49px;
  left: -51px;
  width: 1541.61px;
  height: 571px;
  object-fit: cover;
}
.property-1variant4 {
  position: absolute;
  top: 1721.51px;
  left: 20px;
  width: 1440px;
  height: 547.17px;
}
.property-1default-parent {
  position: absolute;
  top: 0;
  left: 1555px;
  border-radius: var(--br-8xs);
  border: 1px dashed var(--color-white);
  box-sizing: border-box;
  width: 1480px;
  height: 2288.68px;
  overflow: hidden;
}
.banner,
.cui-child {
  position: absolute;
  top: 97px;
  left: 0;
  width: 3035px;
  height: 2288.68px;
}
.cui-child {
  top: 0;
  width: 1438px;
  height: 521px;
  object-fit: cover;
}
.vector-icon {
  position: absolute;
  height: 1.14%;
  width: 11.98%;
  top: 15.74%;
  right: 48.91%;
  bottom: 83.12%;
  left: 39.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.chnh-sch-bo {
  margin: 0;
  padding-left: var(--padding-13xl);
}
.chnh-sch-bo-container,
.chnh-sch-i-container,
.gii-thiu,
.h-tr-khch,
.hng-dn-mua-container {
  position: absolute;
  top: 421px;
  left: 508px;
  text-transform: capitalize;
  display: inline-block;
  width: 344px;
  height: 70px;
}
.chnh-sch-i-container,
.gii-thiu,
.h-tr-khch,
.hng-dn-mua-container {
  top: 191px;
  left: 509px;
}
.chnh-sch-i-container,
.gii-thiu,
.h-tr-khch {
  top: 267px;
}
.gii-thiu,
.h-tr-khch {
  top: 121px;
}
.h-tr-khch {
  top: 29px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-roboto);
  text-align: center;
  height: 38px;
}
.hotline-0931666489-container,
.iu-khon-dch-container,
.website-httpsklairsvietna-container {
  position: absolute;
  top: 345px;
  left: 509px;
  text-transform: capitalize;
  display: inline-block;
  width: 344px;
  height: 70px;
}
.hotline-0931666489-container,
.website-httpsklairsvietna-container {
  left: 23px;
}
.website-httpsklairsvietna-container {
  top: 415px;
  left: 22px;
}
.email-klairsvietnamgmailco-container {
  top: 239px;
  left: 23px;
  height: 70px;
}
.a-ch-container,
.email-klairsvietnamgmailco-container,
.thng-tin-lin {
  position: absolute;
  text-transform: capitalize;
  display: inline-block;
  width: 344px;
}
.thng-tin-lin {
  top: 29px;
  left: 23px;
  font-size: var(--font-size-13xl);
  font-family: var(--font-roboto);
  text-align: center;
  height: 38px;
}
.a-ch-container {
  top: 121px;
  left: 22px;
  height: 70px;
}
.icon-minus {
  position: absolute;
  height: 1.14%;
  width: 11.98%;
  top: 15.16%;
  right: 81.07%;
  bottom: 83.69%;
  left: 6.95%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cui-item {
  position: absolute;
  top: 486px;
  left: 0;
  background-color: var(--color-silver);
  width: 1440px;
  height: 35px;
}
.copyright-2023 {
  position: absolute;
  top: 489px;
  left: 1026px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  display: inline-block;
  width: 485px;
  height: 25px;
}
.image-9-icon {
  position: absolute;
  top: 143px;
  left: 937px;
  width: 431px;
  height: 163px;
  object-fit: cover;
}
.cui,
.image-7-wrapper {
  position: absolute;
  left: 0;
}
.cui {
  top: 3559px;
  width: 1511px;
  height: 521px;
  text-align: left;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.image-7-wrapper {
  top: 117px;
  background-color: var(--color-indianred);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1440px;
  height: 547.17px;
}
.header-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1455px;
  height: 120px;
}
.gii-thiu2,
.lin-h,
.sn-phm {
  position: absolute;
  top: 41px;
  left: 702px;
  display: inline-block;
  width: 163px;
  height: 33px;
}
.lin-h,
.sn-phm {
  left: 476px;
  width: 169px;
}
.lin-h {
  left: 923px;
  width: 120px;
}
.image-6-icon {
  position: absolute;
  top: 26px;
  left: 43px;
  width: 157px;
  height: 59px;
  object-fit: cover;
}
.trang-ch {
  position: absolute;
  top: 41px;
  left: 253px;
  display: inline-block;
  width: 186px;
  height: 33px;
}
.header-item {
  position: absolute;
  top: 25px;
  left: 1086px;
  border-radius: var(--br-mini);
  background-color: var(--color-aliceblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset,
    4px 4px 4px rgba(0, 0, 0, 0.25) inset;
  width: 337px;
  height: 61px;
}
.tm-kim {
  position: absolute;
  top: 41px;
  left: 1108px;
  display: inline-block;
  width: 139px;
  height: 25px;
}
.header,
.icon-search {
  position: absolute;
  top: 38px;
  left: 1360px;
  width: 41.83px;
  height: 39px;
}
.header {
  top: -3px;
  left: 0;
  width: 1455px;
  height: 120px;
  text-align: left;
  font-size: var(--font-size-11xl);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4130px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
